[Unit]
Description=My Lovers Zone Frontend
After=network.target

[Service]
WorkingDirectory=/srv/my_lovers_zone_fe
User=deploy
Environment=HOME=/home/deploy
Environment=PNPM_HOME=/home/deploy/.local/share/pnpm
ExecStart=/usr/bin/bash -lc "export PATH=${PNPM_HOME}:${PATH}; pnpm start -p ${PORT}"
Restart=always
Environment=NODE_ENV=production
EnvironmentFile=/srv/my_lovers_zone_fe/.env

[Install]
WantedBy=multi-user.target
